<p id="notice"><%= notice %></p>

  <h1>Electric Vehicles</h1>
  <div>
  <button onclick="toggleEVmap()">Toggle EV</button>
  </div>
  <br>
<%= link_to 'Home', home_path, data: {no_turbolink: true } %>
  </br>
<tbody>


<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @electric_vehicles.each do |electric_vehicle| %>
      <tr>
        <td><%= electric_vehicle.lat %></td>
        <td><%= electric_vehicle.lon %></td>
        <td><%= link_to 'Show', electric_vehicle %></td>

    <% end %>


</tbody>
  </table>

<div id="map-canvas"></div>