<%= form_for(@parking_meter) do |f| %>
  <% if @parking_meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_meter.errors.count, "error") %> prohibited this parking_meter from being saved:</h2>

      <ul>
      <% @parking_meter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :head_type %><br>
    <%= f.text_field :head_type %>
  </div>
  <div class="field">
    <%= f.label :time_limit %><br>
    <%= f.number_field :time_limit %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :credit %><br>
    <%= f.text_field :credit %>
  </div>
  <div class="field">
    <%= f.label :pay_by_phone %><br>
    <%= f.number_field :pay_by_phone %>
  </div>
  <div class="field">
    <%= f.label :in_effect %><br>
    <%= f.text_field :in_effect %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
