<p id="notice"><%= notice %></p>

<h1>Listing Parking Meters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Head type</th>
      <th>Time limit</th>
      <th>Rate</th>
      <th>Credit</th>
      <th>Pay by phone</th>
      <th>In effect</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_meters.each do |parking_meter| %>
      <tr>
        <td><%= parking_meter.name %></td>
        <td><%= parking_meter.head_type %></td>
        <td><%= parking_meter.time_limit %></td>
        <td><%= parking_meter.rate %></td>
        <td><%= parking_meter.credit %></td>
        <td><%= parking_meter.pay_by_phone %></td>
        <td><%= parking_meter.in_effect %></td>
        <td><%= parking_meter.lat %></td>
        <td><%= parking_meter.lng %></td>
        <td><%= link_to 'Show', parking_meter %></td>
        <td><%= link_to 'Edit', edit_parking_meter_path(parking_meter) %></td>
        <td><%= link_to 'Destroy', parking_meter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking meter', new_parking_meter_path %>
