<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking_meter.name %>
</p>

<p>
  <strong>Head type:</strong>
  <%= @parking_meter.head_type %>
</p>

<p>
  <strong>Time limit:</strong>
  <%= @parking_meter.time_limit %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @parking_meter.rate %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @parking_meter.credit %>
</p>

<p>
  <strong>Pay by phone:</strong>
  <%= @parking_meter.pay_by_phone %>
</p>

<p>
  <strong>In effect:</strong>
  <%= @parking_meter.in_effect %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @parking_meter.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @parking_meter.lng %>
</p>

<%= link_to 'Edit', edit_parking_meter_path(@parking_meter) %> |
<%= link_to 'Back', parking_meters_path %>
