<p id="notice"><%= notice %></p>

<h1>Listing Crime Data</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crime_data.each do |crime_datum| %>
      <tr>
        <td><%= crime_datum.lat %></td>
        <td><%= crime_datum.lon %></td>
        <td><%= link_to 'Show', crime_datum %></td>
        <td><%= link_to 'Edit', edit_crime_datum_path(crime_datum) %></td>
        <td><%= link_to 'Destroy', crime_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crime datum', new_crime_datum_path %>
